<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <data>
        <menuitem id="guru_menu_root" name="Guru" sequence="10"
            web_icon="pesantren_base,static/description/guru.png"
            groups="pesantren_guru.group_guru_staff,pesantren_guruquran.group_guru_quran_staff" />
        <menuitem id="absensi_pengajar" name="Absensi" parent="guru_menu_root" sequence="15"
            groups="pesantren_guru.group_guru_staff,pesantren_guruquran.group_guru_quran_staff" />
        <menuitem id="tahfidz_tahsin" name="Kepesantrenan" parent="guru_menu_root" sequence="16"
            groups="pesantren_guruquran.group_guru_quran_staff" />
        <menuitem id="kepesantrenan_dqi" name="Tahfidz dan Tahsin" parent="tahfidz_tahsin"
            sequence="18" groups="pesantren_guruquran.group_guru_quran_staff" />
        <menuitem id="guru_rekap_kepesantrenan_categ" name="Rekap" parent="tahfidz_tahsin"
            sequence="30" groups="pesantren_guruquran.group_guru_quran_staff,pesantren_guru.group_guru_staff" />
        <menuitem id="guru_rekap_penilaian_santri_menu" name="Rekap Penilaian Halaqoh" parent="guru_rekap_kepesantrenan_categ"
            action="pesantren_kesantrian.action_wizard_rekap_penilaian" sequence="10" />
        <menuitem id="guru_rekap_tahsin_tahfidz_menu" name="Rekap Tahsin Tahfidz" parent="guru_rekap_kepesantrenan_categ"
            action="pesantren_kesantrian.action_wizard_rekap_tahsin_tahfidz" sequence="20" />
        <menuitem id="guru_rekap_absensi_santri_menu" name="Rekap Absensi Santri" parent="guru_rekap_kepesantrenan_categ"
            action="pesantren_kesantrian.action_wizard_rekap_absensi" sequence="30" />
        <menuitem id="aktivitas_menu_categ" name="Aktivitas" parent="guru_menu_root" sequence="20"
            groups="pesantren_guru.group_guru_staff" />
        <menuitem id="aktivitas_penilaian_menu_categ" name="Penilaian" parent="aktivitas_menu_categ"
            sequence="40" />
        <menuitem id="guru_rekap_penilaian_aktivitas_menu" name="Rekap Penilaian Halaqoh" parent="aktivitas_penilaian_menu_categ"
            action="pesantren_kesantrian.action_wizard_rekap_penilaian" sequence="50" />
        <menuitem id="pengaturan_menu_categ" name="Pengaturan" parent="guru_menu_root" sequence="30"
            groups="pesantren_guru.group_guru_staff,pesantren_guruquran.group_guru_quran_staff" />

        <!-- Custom Tree View for Siswa Bimbingan -->
        <record id="view_siswa_bimbingan_tree" model="ir.ui.view">
            <field name="name">siswa_bimbingan_tree</field>
            <field name="model">cdn.siswa</field>
            <field name="arch" type="xml">
                <list create="false" delete="false" edit="false">
                    <field name="row_number" string="#" />
                    <field name="nis" />
                    <field name="name" />
                    <field name="nisn" />
                    <field name="namapanggilan" string="Panggilan" />
                    <field name="jns_kelamin" />
                    <field name="tgl_lahir" />
                </list>
            </field>
        </record>

        <!-- Action Window for Siswa Bimbingan -->
        <record id="action_siswa_bimbingan_walikelas" model="ir.actions.act_window">
            <field name="name">Siswa Bimbingan</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">cdn.siswa</field>
            <field name="view_mode">list,form</field>
            <field name="views">[
                (ref('pesantren_guru.view_siswa_bimbingan_tree'), 'list'),
                (ref('pesantren_base.view_cdn_siswa_form'), 'form')
            ]</field>
            <field name="domain">[('ruang_kelas_id.walikelas_id.user_id', '=', uid)]</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    Tidak ada data siswa bimbingan.
                </p>
            </field>
        </record>

        <!-- Menu Item Siswa Bimbingan under Guru Menu -->
        <menuitem id="menu_siswa_bimbingan_walikelas" 
                  name="Siswa Bimbingan" 
                  parent="guru_menu_root" 
                  action="action_siswa_bimbingan_walikelas" 
                  sequence="18" 
                  groups="pesantren_guru.group_guru_walikelas,pesantren_guru.group_guru_manager"/>
    </data>
</odoo>